{% extends "core/base.html" %}
{% load static %}

{% block title %}Sobre - IHCionário{% endblock %}

{% block pageTitle %}Sobre{% endblock %}

{% block pageTitleMobile %}Sobre{% endblock %}

{% block content %}
<div class="page-content">
    <div class="lista-sobre">
        <p>O IHCionário é uma curadoria digital dedicado à Interação Humano-Computador (IHC), criado para facilitar o entendimento
        dos principais termos, conceitos e fundamentos da área. Nosso objetivo é oferecer uma fonte acessível e confiável para
        estudantes, pesquisadores, designers e profissionais interessados em IHC.</p>
        <p>Cada termo do IHCionário é apresentado com definições textuais claras, baseadas em referências consolidadas da área, e
        acompanhado de uma ilustração visual que representa o conceito, ajudando a tornar o conteúdo mais intuitivo e fácil de
        compreender.</p>
        <p>Com uma navegação simples e responsiva, o IHCionário busca aproximar teoria e prática, promovendo o aprendizado e a
        difusão do conhecimento em Interação Humano-Computador de forma inclusiva e amigável.</p>
    </div>
</div>
{% endblock %}