{% extends "core/base.html" %}
{% load static %}

{% block title %}Definições - IHCionário{% endblock %}

{% block pageTitle %}Lista de Definições{% endblock %}

{% block pageTitleMobile %}Lista de Definições{% endblock %}

{% block content %}
<div class="page-content">
    {% for capitulo in capitulos %}
    <h2 class="definitions-category">{{ capitulo.titulo }}</h2>
    <div class="definition-category-list">
        {% for termo in capitulo.termos.all %}
        <div class="definition-item {% if forloop.last %}no-border{% endif %}">
            <span class="material-icons">menu_book</span>
            <div class="definition-text">
                <a href="{% url 'detail' id=termo.id %}"
                    style="text-decoration: none; display: flex; align-items: center; gap: 4px;">
                    <h3 class="definition-term" style="margin: 0;">{{ termo.titulo }}</h3>
                    <span class="material-icons" style="font-size: 20px; color: #933dbd;">open_in_new</span>
                </a>
                {% with definicao=termo.definicoes.first %}
                <p class="definition-text">{{ definicao.texto|truncatechars:200 }}</p>
                {% endwith %}
            </div>
        </div>

        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}